#serif {
    font-family: Serif;
}

#sans-serif {
    font-family: Sans-Serif;
}

#Monospace {
    font-family: Monospace;
}

#Cursive {
    font-family: Cursive;
}

#Fantasy {
    font-family: Fantasy;
}

#Google {
    font-family: 'Gugi', cursive;
}
