@font-face {
    src: url("../fonts/BMJUA_otf.otf");
    font-family: "JUA";
}

* {
    font-family: "JUA";
    color: #58595B;
    box-sizing: border-box;
}

.background {
     background-color: #F0E8D9;
} 

#top_header {
    margin-top: 75px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 64px;
}

#sub_header {
    margin-bottom: 75px;
    text-align: center;
    font-size: 32px;
}

.outline {
    margin-right: auto;
    margin-left: auto;
    width: 660px;
}

.border {
    clear: left;
}

.food {
    float: left;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 0px;
    margin-bottom: 50px;
}

.picture {
    display: block;
    margin: 0px auto 0px auto;
    width: 300px;
    height: 200px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.desc {
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    width: 300px;
    padding: 20px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.desc .p1 {
    text-align: center;
    font-size: 32px;
    margin: 0;
}

.desc .p2 {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 16px;
}

.desc a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color: #0000EE;
}